{% extends "auth/base.html" %}
{% block title %} Login-Page{% endblock title %}


{% block content %}

<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 pe-md-0">
                                <div class="auth-side-wrapper">
                                </div>
                            </div>
                            <div class="col-md-8 ps-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <a href="#" class="noble-ui-logo d-block mb-2">Smart Monitoring<span> Suhu & Kelembaban</span></a>
                                    <form class="forms-sample" action="{{url_for('auth.login')}}" method="post">
                                        <div class="mb-3">
                                            <label for="Username" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="Username" name='username' placeholder="Username">
                                        </div>
                                        <div class="mb-3">
                                            <label for="Password" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="Password" name='password' autocomplete="current-password" placeholder="Password">
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 text-white">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}