{% extends "auth/base.html" %}
{% block title %} Register-Page{% endblock title %}


{% block content %}
<div class="main-wrapper">
	<div class="page-wrapper full-page">
		<div class="page-content d-flex align-items-center justify-content-center">

			<div class="row w-100 mx-0 auth-page">
				<div class="col-md-8 col-xl-6 mx-auto">
					<div class="card">
						<div class="row">
							<div class="col-md-4 pe-md-0">
								<div class="auth-side-wrapper">

								</div>
								</div>
								<div class="col-md-8 ps-md-0">
								<div class="auth-form-wrapper px-4 py-5">
									<a href="#" class="noble-ui-logo d-block mb-2">Smart Microwave<span>User Register</span></a>
									<form class="forms-sample" action="{{url_for('auth.register')}}" method="post">
									<div class="mb-3">
										<label for="exampleInputUsername1" class="form-label">Username</label>
										<input type="text" class="form-control" id="exampleInputUsername1" name="username" autocomplete="username" {% if username !=None %} value ='{{ username}}'{% endif %} placeholder="Username">
									</div>
									<div class="mb-3">
										<label for="userPassword" class="form-label">Password</label>
										<input type="password" class="form-control" id="userPassword" name='password1' autocomplete="current-password" placeholder="Password">
									</div>
									<div class="mb-3">
										<label for="userPassword2" class="form-label">Verifikasi Password</label>
										<input type="password" class="form-control" id="userPassword2" name='password2' autocomplete="current-password" placeholder="verifikasi Password">
									</div>
									<div>
										<button type="submit" class="btn btn-primary text-white me-2 mb-2 mb-md-0">Daftar</button>
									</div>
									<a href="{{url_for('auth.login')}}" class="d-block mt-3 text-muted">Sudah Punya akun? Masuk</a>
									</form>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

{% endblock content %}
