{% extends "error/base.html" %}
{% block title %}Halaman Tidak ada{% endblock title %}
{% block content %}
	<div class="main-wrapper">
		<div class="page-wrapper full-page">
			<div class="page-content d-flex align-items-center justify-content-center">

				<div class="row w-100 mx-0 auth-page">
					<div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
						<img src="{{url_for('static',filename='assets/images/others/404.svg')}}" class="img-fluid mb-2" alt="404">
						<h1 class="fw-bolder mb-22 mt-2 tx-80 text-muted">404</h1>
						<h4 class="mb-2">Halaman tidak ditemukan</h4>
						<h6 class="text-muted mb-3 text-center">Oopps!! Halaman yang kamu cari tidak ada.</h6>
						<a href="{{ url_for('dashboard.home') }}">Kembali</a>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock content %}