<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}default{% endblock title %}</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <!-- End fonts -->

	<!-- core:css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/core/core.css')}}">
	<!-- endinject -->
  
	<!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/flatpickr/flatpickr.min.css')}}">
  
	<!-- End plugin css for this page -->

	<!-- inject:css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/feather-font/css/iconfont.css')}}">
  
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/flag-icon-css/css/flag-icon.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css')}}">
	<!-- endinject -->

  <!-- Layout styles -->  
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/demo1/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/mystyle.css')}}">
  <!-- End layout styles -->

  <link rel="shortcut icon" href="{{url_for('static',filename='assets/img/favicon.png')}}" />
</head>
<body>
	<div class="main-wrapper">

		<!-- partial:partials/_sidebar.html -->
    {% include "partials/_sidebar.html" %}
		<!-- partial -->
		<div class="page-wrapper">
			<!-- partial:partials/_navbar.html -->
	{% include "partials/_navbar.html" %}

			<!-- partial -->

      {% block content %} {% endblock content %}
		
      <!-- partial:partials/_footer.html -->
      {% include "partials/_footer.html" %}
		</div>
	</div>

	<!-- core:js -->
	<script src="{{ url_for('static',filename='assets/vendors/core/core.js')}}"></script>
	<!-- endinject -->

	<!-- Plugin js for this page -->
  <script src="{{ url_for('static',filename='assets/vendors/flatpickr/flatpickr.min.js')}}"></script>
  
    <script src="{{ url_for('static',filename='assets/vendors/apexcharts/apexcharts.min.js')}}"></script>
	<!-- End plugin js for this page -->

	<!-- inject:js -->
	<script src="{{ url_for('static',filename='assets/vendors/feather-icons/feather.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/template.js')}}"></script>
	<!-- endinject -->

	<!-- Custom js for this page -->
  <script src="{{ url_for('static',filename='assets/js/dashboard-light.js')}}"></script>
	<!-- End custom js for this page -->
  <script src="{{url_for('static',filename='assets/js/sweetalert2.js')}}"></script>
  
  <script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    Swal.fire({
                        icon: '{{ category }}',
                        title: '{{ message }}',
                        timer: 3000,
                        showConfirmButton: false
                    });
                {% endfor %}
            {% endif %}
        {% endwith %}
   </script>

{% block customjs %}{% endblock customjs %}

</body>
</html>    